p {
    margin: 0;
}

.Card {
    background: white;
    border-radius: 10px;
    /* border-radius: 0px !important; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Card_img {
    text-align: center;
}

.Card_types {
    display: flex;
    justify-content: center;
}

.Card_type {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card_info {
    margin-left: 10px;
}

.Card_data {
    padding-bottom: 10px;
}

.value {
    font-weight: 500;
}

.Detail {
    width: 100%;    
    text-align: center;    
}

.Detail th {
    width: 50%;
}


